<template>
  <b-card
    :title="product.title.slice(0, 20)"
    :img-src="product.image"
    img-alt="Image"
    img-top
    img-width="auto"
    img-height="200px"
    tag="article"
    style="max-width: 20rem; margin: 2% 2%; border-radius: 5px"
    class="mb-2"
  >
    <b-card-text v-b-tooltip:top="product.description" style="color:grey;">
      {{ product.description.length > 110  ? product.description.slice(0,50) + '[...]' : product.description }}
    </b-card-text>
    <div style=" position: absolute; right: 2%; top: 1%">
      <b-button style="background-color: #2b2e4a" href="#" class="btn-positioning" @click="addProduct(product)">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="white" viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>      </b-button>
    </div>
      <div style="text-align: center">
        <em>{{ product.price }}<strong>€</strong></em>
      </div>
  </b-card>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Card',
  props: {
    product: {
      type: Object,
      // eslint-disable-next-line vue/require-valid-default-prop
      default: {}
    }
  },
  methods: {
    ...mapActions({
      addProduct: 'cart/addProduct'
    })
  }
}
</script>

<style scoped>
  img {
    object-fit: contain;
    width: 100%;
    height: 200px;
  }
</style>
