<template>
  <b-card no-body class="overflow-hidden">
    <b-row no-gutters>
      <b-col md="6" style="display: flex; justify-content: center; align-items: center">
        <b-card-img :src="product.image" alt="Image" class="rounded-0" />
      </b-col>
      <b-col md="6">
        <b-card-body :title="product.title.slice(0, 20)">
          <b-card-text>
            {{ product.description.length > 110 ? product.description.slice(0,50) + '[...]' : product.description }}
          </b-card-text>
          <span >{{ product.price }}€</span>
        </b-card-body>
        <b-card-footer style="display: flex; justify-content: space-between">
          <b-link @click="$store.commit('cart/remove', product)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="grey" width="14" viewBox="0 0 24 24"><path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/></svg>
            Supprimer
          </b-link>
          <span>x<strong >{{ productQty.item ? productQty.item.qty : product.qty }}</strong></span>
        </b-card-footer>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'CartCard',
  data () {
    return {
      productQty: this.product.qty
    }
  },
  updated () {
    this.productQty = this.card.find(e => e.item.qty === this.product.qty)
  },
  props: {
    product: {
      type: Object,
      // eslint-disable-next-line vue/require-valid-default-prop
      default: {}
    }
  },
  computed: {
    card () {
      return this.$store.getters['cart/getCart']
    }
  },
  methods: {
    ...mapMutations({
      deleteProduct: 'cart/remove'
    })
  }
}
</script>

<style scoped>
img {
  object-fit: contain;
  width: 10rem;
  height: 5rem;
}

a {
  color: grey;
}
</style>
