<template>
  <b-navbar type="light" style="background-color: #e84545">
    <b-navbar-nav>
      <b-nav-item>
        <strong >
          <b-link to="/" style="color:white;">
            Test technique ABBD
          </b-link>
          </strong>
      </b-nav-item>

      <b-nav-item right class="cart-header">
        <em style="color: white" @click="$router.push('/cart')">Cart (<strong>{{ amount }}</strong>)</em>
      </b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
export default {
  name: 'Navbar',
  computed: {
    cart () {
      return this.$store.getters['cart/getCart']
    },
    amount () {
      return this.$store.getters['cart/amountCart']
    }
  }
}
</script>

<style scoped>
 .cart-header {
   position: absolute!important; right: 2% !important;
 }

</style>
