<template>
  <div>
    <b-link to="/" style="margin-left: 2%; margin-top: 2%; position: absolute">
      <svg fill="grey" xmlns="http://www.w3.org/2000/svg" width="14" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>
      <span style="color: grey">Products</span>
    </b-link>
    <div class="cart-container">
      <div >
        <CartCard v-for="(item, index) in cart" :key="index" :product="item.item" />
        <p v-if="cart.length === 0" id="no-item-message">
          <svg fill="#e84545" xmlns="http://www.w3.org/2000/svg" width="44" viewBox="0 0 24 24"><path d="M12 3c5.514 0 10 3.592 10 8.007 0 4.917-5.145 7.961-9.91 7.961-1.937 0-3.383-.397-4.394-.644-1 .613-1.595 1.037-4.272 1.82.535-1.373.723-2.748.602-4.265-.838-1-2.025-2.4-2.025-4.872-.001-4.415 4.485-8.007 9.999-8.007zm0-2c-6.338 0-12 4.226-12 10.007 0 2.05.738 4.063 2.047 5.625.055 1.83-1.023 4.456-1.993 6.368 2.602-.47 6.301-1.508 7.978-2.536 1.418.345 2.775.503 4.059.503 7.084 0 11.91-4.837 11.91-9.961-.001-5.811-5.702-10.006-12.001-10.006zm1.024 13.975c0 .566-.458 1.025-1.024 1.025-.565 0-1.024-.459-1.024-1.025 0-.565.459-1.024 1.024-1.024.566 0 1.024.459 1.024 1.024zm1.141-8.192c-.498-.505-1.241-.783-2.09-.783-1.786 0-2.941 1.271-2.941 3.237h1.647c0-1.217.68-1.649 1.261-1.649.519 0 1.07.345 1.117 1.004.052.694-.319 1.046-.788 1.493-1.157 1.1-1.179 1.633-1.173 2.842h1.643c-.01-.544.025-.986.766-1.785.555-.598 1.245-1.342 1.259-2.477.008-.758-.233-1.409-.701-1.882z"/></svg>
          <span style="color:#53354a; font-style: italic">No item in cart</span>
        </p>
      </div>
      <div v-if="cart.length !== 0" style=" margin-left: 10%; width: 30rem">
        <b-card title="Total" sub-title="Your cart">
          <div style="display: flex; flex-direction: column">
            <span style="display: flex; justify-content: space-between">
              <strong>Sub-total</strong>
              <span>{{ total.toFixed(2) }} €</span>
            </span>
            <span style="display: flex; justify-content: space-between">
              <strong>Delivery</strong>
              <span>Free</span>
            </span>
          </div>
          <template #footer>
            <div style="text-align: right">
              Total:
              <strong>{{ total.toFixed(2) }}</strong>€
            </div>
          </template>
        </b-card>
        <b-button v-if="cart.length > 0" style="float: right; background-color: #903749; border-color: transparent">
          Check out
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Cart',
  computed: {
    cart () {
      return this.$store.getters['cart/getCart']
    },
    total () {
      return this.cart.reduce((a, b) => +a + +b.item.price, 0)
    }
  }
}
</script>

<style scoped>
  h1 {
    text-align: center;
  }
  #no-item-message {
    position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cart-container {
    display: flex;
    padding-top: 2%;
    flex-wrap: wrap;
    justify-content: center;
  }

</style>
