<template>
  <div class="products-container">
    <b-spinner id="spinner-position" v-if="products.length === 0" label="Loading..."></b-spinner>

    <Card
      v-for="(item, index) of products"
      :key="index"
      :product="item"
    />
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Products',
  data () {
    return {
      products: []
    }
  },
  created () {
    this.fetchProducts()
  },
  methods: {
    fetchProducts () {
      axios.get('https://fakestoreapi.com/products')
        .then((res) => {
          this.products = res.data.slice(0, 20)
        })
        .catch(() => {

        })
    }
  }
}
</script>

<style scoped>
#spinner-position {
  position: fixed; top: 50%; left: 50%;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

</style>
